@import "tailwindcss";

@theme inline {
  --color-primary: #fff9f1;
  --color-secondary: #dce4c9;
  --color-tertiary: #9bad74;

  --font-lobster: var(--font-lobster);
  --font-prompt: var(--font-prompt);
}
